*{
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: #f3f3f3;
}
h3{
    font-family: 'Catamaran';
    width: vw;
    text-align: center;
    margin: 0px 10px 10px 10px;
}
header .header-name{
    font-family: 'Catamaran';
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #111;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px 20px;
}
.line{
    width: vw;
    background-color: burlywood;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

.main-div{
    display: flex;
    width: vw;
    height: vh;
   
}

.wrapper1{
    flex: 1;
    border-right: 1.5px solid burlywood;
    height: vh;
    padding: 10px;
}

.wrapper2{
    flex: 4;
    padding: 20px;
}

.card{
    height: 100px;
    width: 200px;
    margin: 0px 10px 20px 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(151, 140, 140, 0.671) ;
}
.table-name{
    font-family: 'Catamaran';
    text-align: center;
    color: rgba(100, 88, 88, 0.671);
}
.card p{
    font-family: 'Catamaran';
    text-align: center;
    margin: auto auto;
    margin-top: 20px;
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px rgba(151, 140, 140, 0.671) ;
}
#searchtable{
    width: 200px;
    margin: 20px auto;
}
#searchmenu{
    display: block;
    width: 600px;
    margin: 20px auto;
}

.menucard{
    height: 120px;
    width: 800px;
    margin: 10px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(151, 140, 140, 0.671) ;
}
.menucard-name{
    font-family: 'Catamaran';
    font-size: 20px;
    display: block;
    margin: 0 auto;
    padding: 20px 20px;
    color: #1f1919d3;
}
.menucard-price{
    font-family: 'Catamaran';
    font-size: 20px;
    display: block;
    margin: 0 auto;
    padding: 20px 20px;
    color: #1f1919d3;
}
.menucard-category{
    display: none;
}
.table-box{
    width: 600px;
    height: fit-content;
}
.table-box header{
    background-color: wheat;
    width: 100%;
    color: #474040;
    height: 100px;
    line-height: 100px;
    font-family: 'Catamaran';
    font-size: 28px;
    padding: 5px;
}
table{
    margin: 0px 20px;
}
.table-box p:nth-child(1){
    float: left;
}
#close{
    font-family: 'Catamaran';
    font-size: 16px;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
    border: 1px solid #050404;
    height: 14px;
    width: 11px;
    background-color: rgb(231, 219, 219);
    padding: 3px;
    line-height: 14px;
}
#bill-genrate{
    color: #474040;
    text-transform: uppercase;
    height: 100px;
    line-height: 100px;
    margin-right: 20px;
    float: right;
}
table tr td{
    padding: 20px;
}
.changebg{
    background-color: #FFA500;
}
.addborder{
    border: 2px solid rgba(31, 28, 31, 0.267);
    border-radius: 5px;
}
.container{
    width: 610px;
    z-index: 10;
    overflow: hidden;
    border: 1px solid black;
    margin: 50px auto;
    background-color: white;
    opacity: 1;
    border-radius: 10px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* display: none; */
    background: rgba(33, 35, 37,0.7);

}
.hidden{
    display: none;
}
.img-delete{
    height: 16px;
    width: fit-content;
}
.count-btn{
    height: 18px;
    width: 18px;
    font-size: 14px;
    line-height: 14px;
    background-color: wheat;
    border-radius: 4px;
    font-weight: 500;
    margin: 0px 3px;
}
.counter{
    display:flex ;
}